@import "modules.scss";
@import "ui.scss";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	position: relative;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#brush {
	margin: -200px 0px 0px -200px;
	width: 400px;
	height: 400px;
	position: fixed;
	pointer-events: none;
}