#modules {
  z-index: 10; }
  #modules .module {
    position: fixed;
    background: #e6e6e6;
    border-radius: 10px; }

#color {
  left: calc(50% - 200px);
  top: calc(50% - 200px); }

#color {
  width: 400px;
  height: 400px; }
  #color canvas {
    cursor: crosshair; }

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.2); }

.hidden {
  display: none; }

#ui {
  z-index: 5;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none; }

#title {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20pt;
  font-family: Arial;
  text-shadow: 0px 0px 10px white; }

#hotkeys {
  position: fixed;
  bottom: 10px;
  left: 10px; }
  #hotkeys .hotkey {
    border: solid 1px #c8c8c8;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    opacity: .7;
    background-color: #e6e6e6;
    display: inline-block;
    margin: 10px;
    font-size: 20pt;
    font-family: Arial;
    line-height: 40px;
    text-align: center; }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
