$hotkeySize: 40px;

#title {
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 20pt;
	font-family: Arial;
	text-shadow: 0px 0px 10px white;
}

#hotkeys {
	position: fixed;
	bottom: 10px;
	left: 10px;

	.hotkey {
		border: solid 1px rgb(200,200,200);
		border-radius: 5px;
		width: $hotkeySize;
		height: $hotkeySize;
		background-color: rgb(230,230,230);
		display: inline-block;
		margin: 10px;
		cursor: pointer;

		font-size: 20pt;
		font-family: Arial;
		line-height: 40px;
		text-align: center;
	}
}