#modules {
	.module {
		pointer-events: all;
		position: fixed;
		background: rgb(230,230,230);
		border-radius: 10px;
	}
}

#color {
	left: calc(50% - 200px);
	top : calc(50% - 200px);
}

#color {
	width: 400px;
	height : 400px;

	canvas {
		cursor: crosshair;
	}
}

#overlay {
	background-color: rgba(0,0,0,.2);
}

.hidden {
	display: none;
}