	// tooltip stuff
	// shamelessly stolen and modified from the amazing
	// https://github.com/AdamWhitcroft/CSS.Tooltips
.tooltip {
	&:before {
		content:'';
		display:none;
		border:5px solid transparent;
		border-top-color:#1a1a1a;
		position:absolute;
		top:-7px;
		left:10px;
		z-index:8;
		font-size:0;
		line-height:0;
		width:0;
		height:0;
	}
	&:after {
		display:none;
		content:attr(data-tip);
		position:absolute;
		top:-38px;
		left:0px;
		padding:5px 8px;
		background:#1a1a1a;
		color:#fff;
		z-index:9;
		font-size: 14pt;
		height:16pt;
		line-height:16pt;
		border-radius: 6px;
		white-space:nowrap;
		word-wrap:normal;
	}
	&:hover:before, &:hover:after {
		display:block;
	}
}